$softRedColor: hsl(7, 99%, 70%);
$yellowColor: hsl(51, 100%, 49%);
$graphicTextColor: hsl(167, 40%, 24%);
$photoTextColor: hsl(198, 62%, 26%);
$footerColor: hsl(168, 34%, 41%);
$darkDesatBlue: hsl(212, 27%, 19%);
$veryDarkGrayBlue: hsl(213, 9%, 39%);
$darkGrayBlue: hsl(232, 10%, 55%);
$grayBlue: hsl(210, 4%, 67%);
$white: hsl(0, 0%, 100%);
$frauncesFont: 'Fraunces', serif;
$barlowFont: 'Barlow', sans-serif;
